@use '../../../modules/components/scss/vars' as *;

.cmp-sidebar {
  padding-top: $navbar-height;

  &__toggle-icon {
    position: absolute;
    right: -14px;
    top: 16px;
    height: 28px;
    width: 28px;
    background-color: white;
    box-shadow: 0px 0px 24px rgba(159, 153, 153, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
  }

  &.ps-sidebar-root:not(.ps-toggled):not(.ps-broken) {
    .cmp-sidebar__toggle-icon {
      display: none;
    }
  }

  .title-icon {
    display: flex;
    justify-content: center;
  }

  &.ps-collapsed {
    .cmp-sidebar__toggle-icon {
      transform: rotateY(180deg);
    }

    .title-icon {
      position: relative;
    }

    .title-icon[aria-details]::after {
      content: attr(aria-details);
      opacity: 0;
      width: max-content;
      pointer-events: none;
      background-color: #f5f5f5;
      color: $color-primary;
      padding: 4px 8px;
      border-radius: 8px;
      font-size: 14px;
      left: calc(100% + 8px);
      position: absolute;
      box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.15);
    }

    .title-icon[aria-details]:hover::after {
      opacity: 1;
      transition: 0.2s;
    }
  }

  &.ps-sidebar-root {
    z-index: 120;
    position: fixed;
    top: 0;
    left: -$sidebar-width;
    width: $sidebar-width;
    transition: 0.4s;
    background-color: white;
    box-shadow: 0px 0px 24px rgba(159, 153, 153, 0.15);
    height: 100%;

    .ps-sidebar-container {
      padding: 10px 16px 16px 16px;
      background-color: white;
      position: relative;
      overflow: unset;
    }

    .ps-submenu-content {
      background-color: white;
    }

    .ps-menu-icon,
    .ps-menu-label,
    .ps-menu-icon {
      color: $color-grey-800;
    }

    .ps-submenu-expand-icon {
      display: none;
    }

    .ps-menu-button {
      height: auto;
      padding: 8px 8px;
      border-radius: 8px;
      font-size: 16px;
      margin-bottom: 4px;
      font-weight: 500;
      border: 1px solid transparent;

      .ps-menu-icon {
        margin: 0;
        height: auto;
        min-width: 0;
      }

      &:hover {
        background-color: $color-primary-200;
        color: $color-white;
        border: 1px solid $color-primary-300;
      }

      &:active {
        background-color: $color-primary;
      }

      &.ps-active {
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-600;
          border: 1px solid $color-primary-700;
        }

        &:active {
          border: 1px solid $color-primary-100;
          background-color: $color-primary;
        }

        .ps-menu-icon,
        .ps-menu-label,
        .ps-menu-icon {
          color: $color-white;
          margin: 0;
        }
      }
    }

    .ps-submenu-content {
      border-radius: 8px;
    }

    &__footer {
      padding: 8px;
      text-align: left;
      font-size: 12px;
      cursor: pointer;

      &__image {
        margin: 16px auto;
        align-items: center;
        color: white;
      }
    }
  }

  &.ps-sidebar-root.ps-broken {
    position: absolute;
    left: -$sidebar-width;

    &:not(.ps-toggled) {
      .cmp-sidebar__toggle-icon {
        transform: rotateY(180deg);
        right: -24px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &.ps-toggled {
    left: 0;
  }

  &.ps-collapsed {
    .ps-menu-label {
      width: 0;
      opacity: 0;
    }

    .ps-menu-icon {
      margin-left: 5px;
    }

    .ps-submenu-content {
      .ps-menu-label {
        width: inherit;
        opacity: inherit;
      }
    }
  }

  &__image {
    object-fit: contain;
    cursor: pointer;
  }

  .icon-logout {
    background-color: $color-grey-100;
    padding: 8px;
    border-radius: 8px;
    line-height: 100% !important;
    height: auto;

    .cmp-button__label {
      line-height: 100%;
    }
  }
}
